@import 'icomoon';
@import 'fonts.hbd';

@font-face {
  font-family: 'McLaren';
  src:  url('~assets/fonts/McLaren/McLaren-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amatic SC';
  src:  url('~assets/fonts/Amatic_SC/AmaticSC-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amatic SC';
  src:  url('~assets/fonts/Amatic_SC/AmaticSC-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

