@import './mixins';

.small-caps {
  font-variant: small-caps;
}

a.link-unstyled {
  @include link-unstyled()
}

.square-corners {
  border-radius: 0;
}

@keyframes fade-in-up {
  from {
    transform: translate(0, 20px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in-out {
  from {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.3s ease-out;
}

@keyframes jiggle {
    0% {
        transform: rotate(-0.5deg);
	}
	50% {
    	transform: rotate(0.5deg);
	}
}

.animate-jiggle {
	animation: jiggle 0.2s infinite;
}