$flavor: 25hbd;

$primary: #c95b40; // don't forget themeColor @ common/flavorConfig.25hbd.js
$secondary: #1a4043;

$alt: $secondary;
$toast-color: #2d736b;
$toast-progress-color: #044c44;

$body-bg: #483b3b;
$link-color: $primary;

$golden-bunny: #ffc800;
$silver-bunny: #848585;
$silver-bunny-alt: #e1e1e1; // used when background is already grey
$double-challenge-bunny: #e22c25;


$random-1: #544a4c;
$random-2: #c5a786;
