@import '~styles/variables';

.teaser-container {
  // color: #f14b6e;
  // background: linear-gradient(3deg, #282e3c 30%, #2f2025 120%);

  .teaser-logo {
    height: 150px;
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      height: 330px;
      margin-bottom: 60px;
    }
  }

  .timer-container {
    font-size: 3rem;
    @include media-breakpoint-up(md) {
      font-size: 5rem;
    }
    font-family: fantasy;
    font-weight: bold;
  }

  color: #985728;

  .teaser-footer {
    color: #985727bf;
    text-decoration: underline;
  }
}

